<html>
 <head>
   <title>INSTAGRAM</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 </head>
 <style>
 .navbar{
   background: #B46088;
   color: white;
 }
 .navbar a{
   color: white;
 }
 .navbar a:hover{
   background: #42376A !important;
 }
 </style>
<body>
  <center>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">INSTAGRAM</a>
        </div>
      <ul class="nav navbar-nav">
        {% if user %}
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/photocomment">+ Create Post</a></li>
        <form class="navbar-form navbar-right" action="/search" method='post'>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="search">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <li class="glyphicon glyphicon-search"></li>
            </button>
          </div>
        </div>
        </form>
        <li><a href="#">Timeline</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url }}"><span class="glyphicon glyphicon-log-in"></span> {{ url_string }}</a></li>
      </ul>
    </div>
    </nav>
    <div class="container">
      {% if user %}
      <p>USER: {{ welcome }} {{ user.email() }}</p>
          {% if newfollower.follower %}
              <a href="/follower?email_address={{  user.email() }}"></a>
              <br>
          {% endif %}
      {% else %}
      <p>Welcome to the application </p>
      {% endif %}
      <br>
    </div>
  </center>
</body>
</html>
