<html>
 <head>
   <title>INSTAGRAM</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 </head>
 <style>
 .navbar{
   background: #B46088;
   color: white;
 }
 .navbar a{
   color: white;
 }
 .navbar a:hover{
   background: #42376A !important;
 }
 </style>
<body>
  <center>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">INSTAGRAM</a>
        </div>
      <ul class="nav navbar-nav">
        {% if user %}
        <li class="active"><a href="/">Home</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url }}"><span class="glyphicon glyphicon-log-in"></span> {{ url_string }}</a></li>
      </ul>
    </div>
    </nav>
    <div class="container">
      {% if user %}
      <p>USER: {{ welcome }} {{ user.email() }}</p>
      <hr>
      <form action="{{ upload_url }}" method="post" enctype="multipart/form-data"> Upload File: <input type="file" name="file" />
      <br/>
      <input type="text" name="caption" placeholder="Caption">
      <input type="submit"/>
      </form>
      {% for i in collection_key.filenames %} {{ i }}
      <form action="/download" method="get">
        <input type="hidden" value="{{ loop.index - 1 }}" name="index" />
        <input type="submit" value="Download" name="Download" />
      </form>
      <br/>
      {% endfor %}
      {% else %}
      <p>Welcome to the application </p>
      {% endif %}
      <br>
    </div>
  </center>
</body>
</html>
